.logout-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.logout-page > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.logout-page .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
