/* start task form */
.task-form {
  background: transparent;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 15px, rgb(0 0 0 / 12%) 0px 3px 6px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 0px;
  /* overflow: hidden; */
}

.task-form .form-container {
  padding: 10px 20px;
  padding-bottom: 0;
  width: 100%;
  border-radius: inherit;
}

.task-form .form-inner-container {
  width: 100%;
  padding-block: 12px;
}

.task-form .block {
  width: 100%;
  padding-block: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.task-form .block.more-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form input {
  width: 100%;
  font-size: 15px;
  padding: 10px;
  border-radius: 8px;
}

.task-form input.name {
  outline: none;
  font-size: 25px;
  padding: 10px;
  width: 100%;
}

.task-form input.name::placeholder {
  font-style: italic;
  padding-left: 3px;
  color: #fff;
}

.task-form p {
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.task-form .pomodoros {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}

.pomodoros .input-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pomodoros .arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  flex-direction: column-reverse;
  background: #d7d6d6;
  border-radius: 0 6px 6px 0;
  height: 100%;
  width: 16px;
  padding: 2px;
}

.block input,
.notes textarea {
  background-color: #9f9f9f33;
  margin-right: 10px;
  border-radius: 8px;
  font-size: 16px;
}

.notes {
  position: relative;
}

.notes textarea {
  line-height: 1.4em;
  height: 200px;
}

.block .text-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #ff002f;
  font-size: 20px;
  font-weight: 100;
}

.pomodoros input.est:last-of-type {
  margin-left: 10px;
}

.block .notes,
.block .project {
  margin-block: 10px;
}

.add-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-buttons button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 600;
  text-decoration: underline;
}

.add-buttons button:last-of-type {
  margin-left: 10px;
}

button.more-details {
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid;
  width: 150px;
  justify-content: space-between;
}

.task-footer {
  background: #ececec38;
  border-radius: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.task-footer button {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  color: #4e696a;
  margin-block: 10px;

  border-radius: 8px;
  box-shadow: 0 0 10px #989898;
  color: #fff;
}

.task-footer button:first-child {
  border: 2px solid;
}

.task-footer button:disabled {
  cursor: no-drop;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
}

.task-footer button.save {
  margin-left: 10px;
  background-color: #000;
  color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0 0 8px 0px rgb(78 78 78);
  background-color: var(--main-color);
}

.task-footer button.save:disabled {
  cursor: no-drop;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
}

/* end task form */
