.template-tasks {
  border-radius: 20px;
  border: 2px solid;
  min-width: 650px;
  max-width: 650px;
  margin: 20px;
}

.template-tasks .tasks-container {
  margin: 0;
  max-height: 350px;
  margin: 20px;
}

.template-tasks .tasks-container .task {
  margin-block: 0 20px;
}

.template-tasks .task-form {
  margin: 0;
}

.template-tasks .task-form .form-container {
  padding: 20px 20px 0;
}

.template-tasks .task-form .form-inner-container {
  padding: 0;
}

.template-tasks .task-form .block {
  padding: 0;
  margin-block: 0 20px;
}

@media (max-width: 768px) {
  .template-tasks {
    max-width: 100%;
    min-width: calc(100% - 40px);
  }

  .template-tasks .tasks-container {
    margin: 15px;
  }

  .template-tasks .task-form .form-container {
    padding: 15px 15px 0;
  }
}

@media (max-width: 500px) {
  .template-tasks .tasks-container {
    margin: 10px;
  }
}
