/* start loading circle */
.center-fullpage {
  width: 100%;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.loading .circle-container {
  z-index: 9000 !important;
}

.loading .circle svg {
  -webkit-animation: scrollSvg 2s linear infinite;
  animation: scrollSvg 2s linear infinite;
  height: 100%;
  margin: auto;
}

.loading .circle {
  position: relative;
  margin: 0px auto;
}

@keyframes scrollSvg {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loading .circle svg circle:last-of-type {
  animation: loading 1.5s ease-in-out infinite;
}

@keyframes loading {
  0% {
    stroke-dasharray: 1, 400;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dasharray: 400, 400;
    stroke-dashoffset: -260;
  }
}

/* end loading circle */
