.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
}

.search-bar .search-keyword {
  padding: 10px;
  color: #fff;
  border: 2px solid;
  border-radius: 10px;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar .search-keyword .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.search-bar .search-keyword input {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background: none;
  color: #fff;
}

.search-bar .search-keyword input::placeholder {
  color: #efefef;
}

.search-bar > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: auto;
}

.search-bar .menu {
  margin-inline: 10px;
}

.search-bar .menu > button,
.search-bar .add-temp {
  border: 2px solid;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
}

.search-bar .menu > button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-left: 5px;
}

.search-bar .add-temp {
  background: #dadada99;
}

.search-bar .add-temp .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.search-bar .add-temp:hover {
  box-shadow: 0 0 7px rgb(141 141 141);
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
  }

  .search-bar .menu {
    margin-right: 0;
  }

  .search-bar > div {
    width: 100%;
  }

  .search-bar .add-temp {
    margin-top: 10px;
    width: 100%;
  }

  .search-bar .menu > button,
  .search-bar .add-temp {
    font-size: 18px;
    padding: 8px;
  }

  .search-bar .search-keyword input {
    font-size: 18px;
  }

  .search-bar .search-keyword {
    padding: 8px;
  }
}
