.no-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: white;
}

.no-login .conatainer {
  height: 50%;
  justify-content: space-evenly;
}

.no-login .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.no-login a:first-of-type {
  margin-right: 20px;
}

.no-login a {
  margin-block: 20px;
  font-size: 20px;
  color: #fff;
  padding: 10px 16px;
  background: #4a4a4a26;
  border-radius: 5px;
  text-transform: capitalize;
}

.no-login a:hover {
  box-shadow: 0 0 11px 1px #cecece59;
}
