.no-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  color: white;
}

.no-login .conatainer {
  height: 50%;
  justify-content: space-evenly;
}

.no-login .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.no-login a:first-of-type {
  margin-right: 20px;
}

.no-login a,
.no-login button {
  margin-block: 20px;
  text-transform: capitalize;
}
