/* Start the setting */
.setting {
  margin-block: 20px;
  margin-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px #858585;
  position: absolute;
  top: 0px;
  border-radius: 20px;
  border: 2px solid;
}

.setting-menu {
  margin-top: 0px;
  width: 100%;
}

.setting-menu button {
  font-size: 24px;
  padding: 10px 20px;
  width: 100%;
  justify-content: space-between;
  color: #fff;
}

.setting-menu button:hover {
  background: #00000029;
}

.setting-menu button span.text {
  margin-left: 10px;
}

.setting .block:not(:last-of-type) {
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 2px solid #e7e7e7;
  transition: height 2s, height 4s;
}

.setting .block h2,
.setting .block > div,
.setting .block h3 {
  width: 100%;
}

.setting .block h3 {
  margin-right: 20px;
  width: fit-content;
  font-size: 18px;
}

.setting .block > input {
  width: 75px;
  padding: 10px;
  font-size: 16px;
}

.setting .block input:focus {
  border: 2px solid;
  padding: 9px;
}

.block.notification .notification-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

.block div.notification-min {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}

.setting .block.focus {
  flex-direction: row;
}

.setting .footer {
  margin-top: 0px;
  padding: 20px;
  background: #ececec38;
  width: 100%;
  border-radius: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting .footer button.cancel:hover {
  background-color: var(--main-light-black);
}

@media (max-width: 768px) {
  .setting {
    max-width: calc(100% - 40px);
  }

  .setting-menu button {
    font-size: 22px;
  }
}

@media (max-width: 500px) {
  .setting-menu button {
    padding: 10px 15px;
    margin: 0;
  }

  .setting .footer {
    padding: 15px;
  }
}

@media (max-width: 450px) {
  .setting .footer {
    padding: 10px;
  }

  .setting .block{
    padding-inline: 10px;
  }

  .setting .block {
    border: none;
    flex-direction: row;
    width: min-content;
  }

  .setting .block h3 {
    width: max-content;
  }

  .block.notification .notification-data {
    margin-top: 10px;
    width: 100%;
    justify-content: center;
  }

  .setting .footer {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .setting-menu button {
    font-size: 18px;
    padding: 8px 10px;
  }

  .setting .block:not(:last-of-type) {
    padding-inline: 10px;
  }

  .setting .block h3 {
    text-align: inherit;
    font-size: 18px;
    margin-right: 0;
  }

  .setting .block,
  .setting .block.notification {
    flex-flow: wrap;
  }

  .setting .block.focus {
    flex-direction: column;
  }

  .setting .block.notification {
    flex-direction: column;
  }
}

/* End the setting */
