/* Start the setting */
.setting {
  margin-block: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  /* padding: 20px; */
  box-shadow: 1px 1px 10px 0px #858585;
}

.setting-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  padding-top: 30px;
  /* font-size: 30px; */
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  border-bottom: 2px solid #e7e7e7;
}

.setting-header a {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.setting-header h1 {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.setting .block:not(:last-of-type) {
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 2px solid #e7e7e7;
}

.setting .block h2,
.setting .block div,
.setting .block h3 {
  width: 100%;
}

.setting .time-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 10px; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.setting .time-inputs p {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.min-sec-input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.setting .block .min-sec-input input {
  padding-right: 20px;
  width: 90px;
}

.min-sec-input div.plus-minus-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: absolute;
  right: 10px;
  height: 100%;
  width: fit-content;
}

.min-sec-input .plus-minus-arrows button {
  font-size: 15px;
}

.min-sec-input .plus-minus-arrows button.plus-arrow:hover,
.min-sec-input .plus-minus-arrows button.minus-arrow:hover {
  background-color: #f2f2f2;
}

.min-sec-input .plus-minus-arrows button.plus-arrow {
  padding-inline: 4px;
  padding-bottom: 2px;
  background: #e7e7e7;
  border-radius: 0px 5px 0px 0;
  border-bottom: 1px solid #dbdbdb;
  color: #373737;
}

.min-sec-input .plus-minus-arrows button.minus-arrow {
  padding-inline: 4px;
  padding-top: 2px;
  background: #e7e7e7;
  border-radius: 0px 0px 5px 0;
  border-top: 1px solid #dbdbdb;
  color: #373737;
}
/* removing default arrows from input number */
.time-input input::-webkit-outer-spin-button,
.time-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.time-input input[type="number"] {
  -moz-appearance: textfield;
}

.setting .block input {
  width: 75px;
  padding: 10px;
  font-size: 16px;
}

.alarm-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.alarm-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.alarm-type p {
  width: fit-content;
  font-size: 18px;
  font-weight: 400;
}

div.select-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}

.select-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 200px;
  position: relative;
}

.select-menu .row button {
  font-size: 16px;
  width: 200px;
}

.select-menu button.open-menu {
  border-radius: 6px;
  font-size: 16px;
  padding: 10px 16px;
  background: #ececec;
  width: fit-content;
  justify-content: space-between;
  width: max-content;
}

.select-menu button.open-menu .arrow {
  margin-left: 10px;
}

.select-menu button.active {
  background-color: rgb(0, 0, 0, 0.092);
}

.alarm-details input {
  margin-right: 0;
}

.block div.range-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-container .range-value {
  margin-right: 10px;
}

.range-container input[type="range"] {
  width: 80%;
  padding: 0;
  appearance: none;
  background-color: #d3d3d3;
  height: 10px;
}

.range {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgb(50, 50, 50);
}

.range::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 4px rgb(50, 50, 50);
}

.block.notification .notification-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
}

.notification-data div.notification-min {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: fit-content;
}

@media (max-width: 450px) {
  .setting .block.notification {
    border: none;
    flex-flow: wrap;
  }

  .block.notification .notification-data {
    margin-top: 15px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .alarm-details .alarm-type {
    flex-direction: column;
  }

  .alarm-details .alarm-type p:first-of-type {
    margin-bottom: 10px;
    width: 100%;
    font-weight: 500;
  }

  .alarm-details .alarm-type .select-menu button.open-menu {
    width: 100%;
  }
}

.setting .footer {
  margin-top: 10px;
  padding-block: 20px 30px;
  background: #ececec;
  width: 100%;
  padding-inline: 30px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting .footer button {
  font-size: 20px;
  padding: 10px 15px;
  background-color: #858585;
  border-radius: 8px;
  box-shadow: 0 0 10px #989898;
  color: #e7e7e7;
}

.setting .footer button.save {
  background-color: #000;
}

.setting .footer button.save:disabled {
  cursor: no-drop;
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
}

/* End the setting */
