.sticky-notes {
	border-radius: 20px;
	max-height: calc(100% - 40px);
	margin: 20px;
	max-width: 520px;
}

.sticky-notes .notes {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 20px 20px;
	max-height: 470px;
	overflow-y: scroll;
	justify-content: flex-start;
	padding-right: 10px;
}

.sticky-notes .notes::-webkit-scrollbar-thumb {
	background-color: #ddd; /* #09c6f9 */
	border-radius: 5px;
}

.sticky-notes .notes .notes-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.sticky-notes .notes .note {
	color: #000;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 10px;
	position: relative;
}

.sticky-notes .notes .note.orange,
.sticky-notes .notes .note.green,
.sticky-notes .notes .note.blue {
	color: #fff;
}

.sticky-notes .notes .note .loader-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #00000010;
	border-radius: inherit;
	z-index: 100;
}

.sticky-notes .notes .note .loading-container {
	width: 100%;
	height: 100%;
	margin: 0;
}

.sticky-notes .notes .note .note-container {
	width: 100%;
	padding: 10px 20px 20px;
}

.sticky-notes .notes .note .note-container:hover {
	background-color: var(--main-light-black);
	border-radius: inherit;
}

.sticky-notes .note .upper {
	width: 100%;
	position: relative;
}


.sticky-notes .note.orange .upper p.date,
.sticky-notes .note.green .upper p.date,
.sticky-notes .note.blue .upper p.date {
	color: #ddd;
}

.sticky-notes .note .upper p.date {
	font-size: 12px;
	color: #777676;
	text-align: right;
	width: 100%;
	margin-block: 10px;
}

.sticky-notes .note:hover .upper p.date {
	display: none;
}

.sticky-notes .note .upper .menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	display: none;
	margin-bottom: 6px;
}

.sticky-notes .note:hover .upper .menu {
	display: flex;
}

.sticky-notes .note .upper .menu-content {
	right: auto;
	padding-block: 0;
	padding: 5px;
	top: 22px;
}

.sticky-notes .note .upper .menu-content .row button {
	font-size: 16px;
	padding: 6px 10px;
	border-radius: 10px;
}

.sticky-notes .note .upper .menu-content .row button .color-icon {
	width: 16px;
	height: 16px;
	border-radius: 4px;
}

.sticky-notes .note .upper .smaller-popup.delete-popup {
	top: 32px;
}

.sticky-notes .note .upper button.toggle-menu {
	color: inherit;
	font-size: 16px;
	padding: 5px;
}

.sticky-notes .note .text-editor {
	width: 100%;
}

.sticky-notes .note .content {
	padding-inline: 0px;
	width: 100%;
}
