.templates-container {
  margin: 20px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@import url("./TemplateTasks/style.css");

@media (max-width: 550px) {
  .templates.container {
    padding: 0;
  }
}
