.note-container {
	position: absolute;
	top: 6px;
	left: 0;
	z-index: 9000;

	margin: 10px;

	display: grid;
	grid-template-columns: 10px 1fr 10px;
	grid-template-rows: 10px auto 10px;
}

.note-container:hover,
.note-container.active {
	z-index: 9001;
}

.bottom {
	grid-row: 3;
	grid-column: 1 / 4; /* Span across all columns */
	height: 5px;
	cursor: ns-resize;
}

.right {
	grid-column: 3;
	grid-row: 2 / 4;
	width: 5px;
	cursor: ew-resize;
}

.center {
	grid-column: 2;
	grid-row: 2;
}

.bottom-right {
	grid-column: 3;
	grid-row: 3;
	width: 10px;
	background: #ccc;
}

.sticky-note {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;

	font-family: sans-serif;
	font-size: 1rem;

	background: yellow;
	color: #000;
	width: 300px;
	min-width: 300px;
	max-width: 500px;

	height: 300px;
	min-height: 300px;
	max-height: 500px;

	border-radius: 10px;
	box-shadow: 0 0 5px #0000002e;
	overflow: hidden;
}

.sticky-note.green,
.sticky-note.orange,
.sticky-note.blue {
	color: #fff;
}

.sticky-note .note-content {
	z-index: 2;
	width: 100%;
	position: relative;
	height: 100%;
	overflow: hidden;
}

.sticky-note-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background: var(--main-light-black);
	padding: 5px;
}

.sticky-note-header button.toggle-menu {
	margin: 0;
}

.sticky-note-header .menu-content {
	right: auto;
	padding-block: 0;
	padding: 5px;
}

.sticky-note-header .menu-content .row button {
	font-size: 16px;
	padding: 6px 10px;
	border-radius: 10px;
}

.sticky-note-header .menu-content .row button .color-icon {
	width: 16px;
	height: 16px;
	border-radius: 4px;
}

.sticky-note-header .menu-content .row .menu .menu-content.color-menu {
	right: -120px;
	top: -10px;
}

.sticky-note-header button.toggle-menu,
.sticky-note-header button.close-note {
	font-size: 1rem;
	width: 30px;
	height: 30px;
	color: inherit;
}

.sticky-note .text-editor .toolbar {
	margin: 10px;
	border-radius: 10px;
	width: calc(100% - 20px);
}

.sticky-note.green .text-editor .toolbar,
.sticky-note.orange .text-editor .toolbar,
.sticky-note.pink .text-editor .toolbar,
.sticky-note.blue .text-editor .toolbar {
	background-color: #ffffff30;
}

.sticky-note .text-editor .toolbar .toolbar-icon.active {
	color: #000;
}

.sticky-note.green .text-editor .toolbar .toolbar-icon.active,
.sticky-note.orange .text-editor .toolbar .toolbar-icon.active,
.sticky-note.blue .text-editor .toolbar .toolbar-icon.active {
	color: #fff;
}

.sticky-note.green .text-editor .content code,
.sticky-note.orange .text-editor .content code,
.sticky-note.blue .text-editor .content code {
	background-color: #ccc;
}

.sticky-note .text-editor .content {
	margin-block: 0 10px;
	width: calc(100% - 20px);
	outline: none;
	overflow-y: scroll;
}

.sticky-note .text-editor .content::-webkit-scrollbar {
	width: 7px;
}

.sticky-note .delete-popup-container {
	width: 100%;
	height: 100%;
	position: absolute;
	background: #00000042;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sticky-note .delete-popup-container .smaller-popup.delete-popup {
	position: initial;
}
