.chart-container svg {
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  font: 10px sans-serif;
  color: rgb(204, 204, 204);
  border-radius: 20px;
  padding: 20px;
}

.chart-container .circle svg {
  background-color: inherit;
}

.chart-container svg .tick text,
svg text {
  color: #000;
}
