/* start .nav-bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: white;
  border-bottom: 1px solid;
  padding-bottom: 12px;
}

.nav-bar h1 {
  text-shadow: 0px 0px 5px #7a7a7a;
}

.nav-bar button.toggle-menu {
  outline: none;
  border: 0;
  background: none;
  color: white;
  /* background: #bfbebe; */
  padding: 10px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 25px;
  /* box-shadow: 0px 0px 5px #7a7a7a; */
}

.nav-bar button.toggle-menu:hover {
  background-color: #2c282842; /*   box-shadow: 0px 0px 10px #7a7a7a; */
}

.nav-bar .menu-overflow {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: #00000059;
}

.menu-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 5px #7a7a7a;
  margin-block: 10px 20px;
  border-radius: 5px;
  padding-block: 12px;
  width: max-content;
  z-index: 105;
}

.nav-bar .menu-content {
  width: 250px;
  margin: 0;
  height: 100%;
  border-radius: 0;
  justify-content: flex-start;
}

.nav-bar .menu-content .close-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  justify-content: flex-end;
  padding-right: 15px;
}

.nav-bar .menu-content .close-button {
  font-size: 25px;
  border-radius: 50%;
  padding: 10px;
  background: #bababa63;
}

.menu-content .user-data {
  color: black;
  width: 100%;
  padding: 10px 20px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.menu-content .user-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: flex-start;
  background: #bababa63;
  padding: 5px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu-content .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
}

.menu-content .row:not(:last-child) {
  border-bottom: 1px solid #e7e7e7;
}

.menu-content .row button,
.menu-content .row a {
  font-size: 20px;
  padding: 10px 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.menu-content .row button p,
.menu-content .row a p {
  margin-left: 10px;
}

.menu-content .row button:hover,
.menu-content .row a:hover {
  background: rgba(0, 0, 0, 0.092);
}

/* end nav-bar */
