/* Start the timer */

.app {
  margin-block: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.clock-container {
  box-shadow: 0px 0px 5px #7a7a7a;
  background: #b40021;
  padding: 5px;
  border-radius: 5%;
  position: relative;
}

.clock {
  width: 500px; /* 400px*/
  height: 500px; /* 400px*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 5%;
  box-shadow: 0 0 5px inset #aba9a9f0;
}

/* start analog timer */

.clock .number {
  position: absolute;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(var(--i) * 30deg));
  font-size: 25px; /* 20px */
  font-family: fantasy;
  z-index: 110;
}

.clock .number.active {
  color: rgb(218 215 215);
  text-shadow: 0px 0px 2px #5d5d5d;
  inset: 15px;
}

.clock .number p {
  display: inline-block;
  transform: rotate(calc(var(--i) * -30deg));
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 102;
}

.arrows .arrow {
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6;
  border-radius: 1px;
  z-index: 100;
  width: 0px;
  position: absolute;
  transform: rotate(calc(var(--rotation) * 1deg));
  height: 381px; /* 305px */
  margin-left: 5px;
}

.arrows .arrow.main {
  border: 2px solid;
  background: #000;
  border-radius: 2px;
}

.roller-container {
  width: 325px; /* 260px */
  height: 325px; /* 260px */
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 110;
}

.roll {
  position: relative;
  width: 50%;
  height: 50%;
  background: white;
  top: 0;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  border: 2px dotted #e7e7e7;
  box-shadow: 0 0 20px #cfc9c9, inset 0 0 5px #e7e7e7;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 103;
}

.roll .pause-side,
.roll .start-side {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  font-size: 50px;
}

.roll .up-side,
.roll .down-side {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.roll .up-side {
  border-bottom: 1px solid #e7e7e7;
}

.roll .down-side {
  border-top: 1px solid #e7e7e7;
  flex-direction: column-reverse;
}

.roll .up-side:hover,
.roll .down-side:hover,
.roll .pause-side:hover,
.roll .start-side:hover {
  background-color: rgba(0, 0, 0, 0.092);
}

.different-color {
  width: 77%;
  height: 77%;
  position: absolute;
  border-radius: 50%;
  background-color: #ff002f;
  z-index: 102;
  opacity: 0.4;
  background-image: linear-gradient(270deg, transparent 50%, white 50%),
    linear-gradient(90deg, transparent 50%, white 50%);
}

/* end the analog timer */

/* start the digital timer */

h1.digital-number {
  font-size: 160px;
}

.digital-controlers {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-block: 20px;
}

.digital-controlers .start-digital,
.digital-controlers .reset-digital {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e7e7e7;
  border-radius: 50%;
  font-size: 25px;
  margin-inline: 10px;
  box-shadow: 0px 0px 5px #7a7a7a;

  font-size: 30px;
  padding: 20px;
}

.digital-controlers .start-digital:hover,
.digital-controlers .reset-digital:hover {
  box-shadow: 0 0 10px #7a7a7a;
}

.digital-controlers .start-digital {
  background: #ff002f;
  color: #fff;
}

/* end the digital timer */

.timer-button {
  position: absolute;
  top: 15px;
  z-index: 120;
  color: #fff;
  border: 1px solid;
  font-size: 20px;
  box-shadow: 0 0 5px #000;
  display: none;

  border-radius: 50%;
  padding: 8px;
  background: #000000b8;

  transform: rotate(270deg);
  width: fit-content;
}

.timer-button:first-of-type {
  left: 15px;
}

.timer-button.setting-open {
  right: 15px;
}

.clock-container:hover .timer-button {
  display: flex;
}

/* End the timer */

/* start the responsive design */
@media (max-width: 1024px) {
  .clock-container:hover .timer-button {
    display: none;
  }

  .clock-container:hover .timer-button.setting-open {
    display: flex;
    right: 15px;
  }
}

@media (max-width: 600px) {
  .app {
    margin-block: 15px;
  }
}

@media (max-width: 550px) {
  .clock {
    width: 400px;
    height: 400px;
  }

  h1.digital-number {
    font-size: 120px;
  }

  .digital-controlers .start-digital,
  .digital-controlers .reset-digital {
    font-size: 25px;
    padding: 15px;
  }

  .clock .number {
    font-size: 20px;
  }

  .arrows .arrow {
    height: 305px;
  }

  .roller-container {
    width: 260px; /* 260px */
    height: 260px; /* 260px */
  }
}

@media (max-width: 450px) {
  .clock {
    width: 280px; /* 400px */
    height: 280px; /* 400px */
  }

  h1.digital-number {
    font-size: 84px; /* 120px */
  }

  .digital-controlers .start-digital,
  .digital-controlers .reset-digital {
    font-size: 20px; /* 25px */
    padding: 10px; /* 15px */
  }

  .clock .number {
    font-size: 16px; /* 20px */
    inset: 10px;
  }

  .clock .number.active {
    inset: 0;
  }

  .arrows .arrow {
    height: 213.5px; /* 305px */
  }

  .roller-container {
    width: 182px; /* 260px */
    height: 182px; /* 260px */
  }

  .roll .up-side,
  .roll .down-side,
  .roll .pause-side,
  .roll .start-side {
    font-size: 25px;
  }
}

/* end the responsive design */
