/* start tasks footer */
.tasks .footer {
  color: #e7e7e7;
  border-top: 2px solid #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 20px;
  font-size: 18px;
  border-radius: 84px;
  box-shadow: 0px -5px 5px -5px #121212;
  margin: 20px 0;

  margin-bottom: 0;
  border: 2px solid;
}

.tasks .footer p {
  margin-right: 20px;
}

.tasks .footer p span {
  font-size: 25px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .tasks .footer {
    margin: 0;
    padding: 10px;
  }
  .tasks .footer p span {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .tasks .footer-container {
    padding: 10px 0;
  }

  .tasks .footer-container {
    padding: 0;
  }

  .tasks .footer {
    margin: 0;
    padding: 8px;
  }
}

@media (max-width: 450px) {
  .tasks .footer-container {
    padding: 0px;
  }

  .tasks .footer {
    margin: 0;
    padding: 7.5px;
  }

  .tasks .footer p {
    margin-right: 10px;
    font-size: 16px;
  }
  .tasks .footer p span {
    font-size: 20px;
  }
}
/* end tasks footer */
