/* Basics styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* overflow: hidden; */
  background-color: #ff002f;
  height: 100%;
  margin: 20px;
  padding: 20px;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  cursor: no-drop;
  background-color: -internal-light-dark(
    rgba(239, 239, 239, 0.3),
    rgba(19, 1, 1, 0.3)
  );
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  border-color: -internal-light-dark(
    rgba(118, 118, 118, 0.3),
    rgba(195, 195, 195, 0.3)
  );
}

input,
textarea {
  outline: none;
  background: none;
  border: none;
}

textarea {
  width: 100%;
  padding: 10px;
}

#root {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* end basics */

@import url("./components/Tasks/style.css");

@import url("./components/Navigation/style.css");

.app {
  margin-block: 30px;
  text-align: center;
}

.clock-container {
  box-shadow: 0px 0px 5px #7a7a7a;
  background: #b40021;
  padding: 5px;
  border-radius: 5%;
}

.clock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 5%;
  box-shadow: 0 0 5px inset #aba9a9f0;
}

.clock .number {
  position: absolute;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(var(--i) * 30deg));
  font-size: 20px;
  font-family: fantasy;
  z-index: 110;
}

.clock .number.active {
  color: rgb(218 215 215);
  font-size: 150%;
  text-shadow: 0px 0px 2px #5d5d5d;
  inset: 15px;
}

.clock .number p {
  display: inline-block;
  transform: rotate(calc(var(--i) * -30deg));
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 102;
}

.arrows .arrow {
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6;
  border-radius: 1px;
  z-index: 100;
  width: 0px;
  position: absolute;
  transform: rotate(calc(var(--rotation) * 1deg));
  height: 305px;
  margin-left: 5px;
}

.arrows .arrow.main {
  border: 2px solid;
  background: #000;
  border-radius: 2px;
}

.roller-container {
  width: 260px;
  height: 260px;
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 110;
}

.roll {
  position: relative;
  width: 50%;
  height: 50%;
  background: white;
  top: 0;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  border: 2px dotted #e7e7e7;
  box-shadow: 0 0 20px #cfc9c9, inset 0 0 5px #e7e7e7;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 103;
}

.roll .pause-side,
.roll .start-side {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  font-size: 50px;
}

.roll .up-side,
.roll .down-side {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.roll .up-side {
  border-bottom: 1px solid #e7e7e7;
}

.roll .down-side {
  border-top: 1px solid #e7e7e7;
  flex-direction: column-reverse;
}

.roll .up-side:hover,
.roll .down-side:hover,
.roll .pause-side:hover,
.roll .start-side:hover {
  background-color: rgba(0, 0, 0, 0.092);
}

.different-color {
  width: 77%;
  height: 77%;
  position: absolute;
  border-radius: 50%;
  background-color: #ff002f;
  z-index: 102;
  opacity: 0.4;
  background-image: linear-gradient(270deg, transparent 50%, white 50%),
    linear-gradient(90deg, transparent 50%, white 50%);
}

.digital-controlers {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-block: 20px;
}

.digital-controlers .start-digital,
.digital-controlers .reset-digital {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  background: #e7e7e7;
  border-radius: 50%;
  font-size: 25px;
  margin-inline: 10px;
  box-shadow: 0px 0px 5px #7a7a7a;
}

.digital-controlers .start-digital:hover,
.digital-controlers .reset-digital:hover {
  box-shadow: 0 0 10px #7a7a7a;
}

.digital-controlers .start-digital {
  background: #ff002f;
  color: #fff;
}

/* End the timer */