* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    120deg,
    hsl(200, 100%, 50%) 20%,
    hsl(175, 100%, 50%) 80%
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #61dafb;
}

.clock-container {
  background: #00ffff;
  padding: 5px;
  border-radius: 5%;
}

.clock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 5%;
  box-shadow: 0 0 5px inset #aba9a9f0;
}

.clock .number {
  position: absolute;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(var(--i) * 30deg));
  font-size: 20px;
  font-family: fantasy;
  z-index: 110;
}

.clock .number p {
  display: inline-block;
  transform: rotate(calc(var(--i) * -30deg));
}

.clock .number.number0 p::after {
  content: "";
  display: inline-block;
  width: 22px;
  height: 35px;
  position: absolute;
  box-shadow: inset 0 0 2px 2px #e7e7e7, 0 0 0 0 transparent;
  left: -5px;
  top: -12px;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 1px;
  z-index: 102;
}

.arrows .arrow {
  border: 1px solid #c6c6c6;
  background-color: #c6c6c6;
  border-radius: 1px;
  z-index: 100;
  width: 0px;
  position: absolute;
  transform: rotate(calc(var(--rotation) * 1deg));
  height: 305px;
  margin-left: 5px;
}

.arrows .arrow.main {
  border: 2px solid;
  background: #000;
  border-radius: 2px;
}

.roller-container {
  width: 260px;
  height: 260px;
  background: white;
  border-radius: 50%;
  position: absolute;
  z-index: 110;
}

.roll {
  position: relative;
  width: 50%;
  height: 50%;
  background: white;
  top: 0;
  right: 0;
  transform: translate(50%, 50%);
  border-radius: 50%;
  border: 2px dotted #e7e7e7;
  box-shadow: 0 0 20px #cfc9c9, inset 0 0 5px #e7e7e7;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  z-index: 103;
}

.roll .left-side,
.roll .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: black;
  border: 0px;
}

.roll .left-side {
  width: 50%;
  height: 100%;
  background: aliceblue;
  border-radius: 50% 0 0 50%;
  float: left;
  border-right: 1px solid #e7e7e7;
}

.roll .right-side {
  width: 50%;
  height: 100%;
  background: aliceblue;
  border-radius: 0% 50% 50% 0;
  float: left;
  border-left: 1px solid #e7e7e7;
}

.roll .right-side:hover,
.roll .left-side:hover {
  background-color: rgba(0, 0, 0, 0.092);
  color: #c8c8c8;
}

.different-color {
  width: 77%;
  height: 77%;
  position: absolute;
  border-radius: 50%;
  background-color: #00f1ee;
  z-index: 102;
  opacity: 0.4;
  background-image: linear-gradient(270deg, transparent 50%, white 50%),
    linear-gradient(90deg, transparent 50%, white 50%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
