* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    to right,
    hsl(200, 100%, 50%),
    hsl(175, 100%, 50%)
  );
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #61dafb;
}

.clock-container {
  background: #00ffff;
  padding: 5px;
  border-radius: 5%;
}

.clock {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: white;
  border-radius: 5%;
  box-shadow: 0 0 5px inset #aba9a9f0;
}

.clock .number {
  position: absolute;
  inset: 20px;
  text-align: center;
  transform: rotate(calc(var(--i) * 30deg));
  font-size: 20px;
  font-family: fantasy;
}

.clock .number p {
  display: inline-block;
  transform: rotate(calc(var(--i) * -30deg));
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
