.auth-page {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 34px;
  background: #fff;
  box-shadow: 0px 0px 10px #4c4c4c;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.auth-page .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.auth-page .form-container form {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-container form h1 {
  width: 100%;
  text-align: center;
  margin-block: 10px;
  text-transform: capitalize;
  font-size: 50px;
}

.auth-page .form-container .block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.auth-page .form-container .block input {
  width: 100%;
  margin: 12px 10px;
}

.auth-page .form-container .block input::placeholder {
  text-transform: capitalize;
}

.auth-page .password {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 10px;
  position: relative;
}

.auth-page .block .password input {
  margin: 0;
}

.auth-page .block .password button.icon {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: inherit;
  padding: 0;
  box-shadow: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  right: 0;
}

.auth-page .block .password button.icon:hover {
  background: #0000002b;
}

.auth-page button {
  margin: 20px;
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0 0 5px #615f60;
  text-transform: uppercase;
  font-weight: 600;
}

.auth-page .forget-password {
  color: #6f6f6f;
  font-size: 16px;
  box-shadow: none;
  text-transform: capitalize;
  text-decoration: underline;
  width: fit-content;
  margin-left: 0;
  text-align: left;
  justify-content: flex-start;
  padding: 0;
}

.auth-page button[type="submit"]:not(:disabled) {
  background-color: var(--main-color);
}

.form-container.sign-in,
.form-container.sign-up {
  width: 60%;
  opacity: 1;
  z-index: 1;
}

.form-container.sign-up {
  left: 40%;
}

.form-container.sign-in {
  left: 0;
}

.auth-page .overlay-container {
  position: absolute;
  top: 0;
  left: 60%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  width: 40%;
  color: #fff;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
}

.auth-page .overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.auth-page .overlay .overlay-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.auth-page.right-panel-active .overlay-container {
  left: 40%;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.auth-page.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-left {
  transform: translateX(-20%);
}

.auth-page .overlay-panel.overlay-right {
  right: 0;
}

.auth-page .overlay-panel.overlay-left {
  left: 0;
}

.auth-page .overlay p,
.auth-page .overlay h1 {
  width: 100%;
  margin-block: 10px;
}

.auth-page .overlay h3 {
  display: none;
}

@media (max-width: 768px) {
  .auth-page {
    flex-direction: column;
  }

  .auth-page .form-container {
    width: 100%;
    bottom: 30%;
    height: 70%;
    left: 0;
  }
  .auth-page.right-panel-active .form-container {
    top: 26%;
  }

  .auth-page.right-panel-active .overlay {
    height: 80%;
  }

  .auth-page .overlay-container,
  .auth-page.right-panel-active .overlay-container {
    width: 100%;
    top: 70%;
    height: 30%;
  }

  .auth-page .overlay-container {
    left: 0;
  }
  .auth-page.right-panel-active .overlay-container {
    left: 100%;
    top: 0;
  }

  .auth-page .overlay p,
  .auth-page .overlay h1 {
    display: none;
  }

  .auth-page .overlay h3 {
    display: block;
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .form-container form h1 {
    font-size: 40px;
  }

  .auth-page .form-container form {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .form-container form h1 {
    font-size: 35px;
  }

  .auth-page .form-container .block input {
    margin: 6px 5px;
  }
  .auth-page .password {
    margin: 6px 5px;
  }

  .auth-page .block .password input {
    margin: 0;
  }
}
