.summary,
.summary-numbers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summary {
  flex-direction: column;
}

.summary :is(h2, h3, div) {
  width: 100%
}

.summary-numbers {
  margin-top: 20px;
  flex-direction: column;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.summary-number {
  padding: 20px;
  border-radius: 20px;
  border: 2px solid;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.summary-number .icon {
  font-size: 30px;
  margin-right: 10px;
  height: 100%;
}

.summary-number h3 {
  font-size: 25px;
}

@media (max-width: 768px) {
  .summary-numbers {
    flex-wrap: wrap;
  }

  .summary-number:not(:last-of-type) {
    width: calc(50% - 10px);
  }
}

@media (max-width: 500px) {
  .summary-numbers {
    gap: 15px;
    margin-top: 15px;
  }

  .summary-number:not(:last-of-type) {
    width: calc(50% - 7.5px);
  }

  .summary-number {
    padding: 15px;
    border-radius: 15px;
  }

  .summary-number .icon {
    font-size: 22px;
  }

  .summary-number h3 {
    font-size: 22px;
  }

  .summary-number p {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .summary-numbers {
    flex-direction: column;
  }

  .summary-number:not(:last-of-type) {
    width: 100%;
  }
}
