.not-valid-token {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-valid-token .icon-container {
  font-size: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.not-valid-token h1 {
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-valid-token .buttons {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-valid-token .buttons a {
  margin-inline: 20px;
  text-transform: capitalize;
}
